  * {
    margin: 0;
    padding: 0;
  }

  html {
    height: 100%;
  }

  body {
    height: calc(100% - 90px);
  }

  .main-header,
  .main-footer {
    background-color: #cef8e8;
    height: 50px;
  }

  .logo,
  .legal-text {
    display: block;
    padding: 10px 5px 10px 5px;
    height: 30px;
    padding-top: 15px;
  }

  .main-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .legal-text {
    text-align: center;
  }

  .main-container {
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    overflow: auto;
  }

  .bio-container {
    height: 140px;
    background-color: #cef8e8;
  }

  .avatar {
    width: 180px;
    height: 140px;
    background: #f7f7f7;
    float: left;
    margin-right: 15px;
    position: relative;
  }

  .avatar img {
    width: 100%;
    height: 100%;
  }

  .bottom-container {
    background-color: #f7f7f7;
    width: 100%;
    margin-top: 20px;
  }

  .left-sidebar {
    float: left;
    width: 180px;
    height: 100%;
    background-color: #f7f7f7;
  }

  .left-sidebar ul {
    text-align: center;
    display: block;
  }

  .left-sidebar li {
    display: block;
    width: 100%;
    border-bottom: 1px solid #FFF;
  }

  .left-sidebar ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px;
    display: block;
    font-weight: bold;
    transition-duration: 0.5s;
  }

  .left-sidebar ul li a:hover {
    color: #FFF;
    opacity: 0.5;
    background-color: rgb(122, 115, 112);
  }

  .gallery {
    background: #f7f7f7;
    float: left;
    height: calc(100% - 30px);
    padding: 15px;
    width: calc(100% - 211px);
    border-left: 1px solid rgb(146, 141, 141);
  }

  .gallery ul.row {
    margin-top: 25px;
    margin-bottom: 25px;
    list-style-type: none;
    text-align: center;
    width: 100%;
  }

  .gallery ul.row li {
    margin-right: 15px;
    display: inline-block;
  }

  .gallery ul.row li>img {
    height: 150px;
    width: 200px;
  }

  .box-shadow {
    -webkit-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
    box-shadow: 7px 3px 60px -20px rgba(0, 0, 0, 1);
  }
  /* login page */

  .login-input {
    width: 100%;
    height: 50px;
    border-radius: 15px;
    margin: 10px auto;
  }

  .btn-login {
    padding: 15px 30px;
    background: rgb(255, 230, 1);
    color: white;
    font-weight: bold;
    font-size: 20px;
    float: right;
  }

  .login-container {
 
    padding:20px;
    width: 450px;
    height: 495px;
    background-color: #cef8e8;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    overflow: auto;
  }

  .login {}

  .main-login-container {
    width: 100%;
    padding:0px !important;
    margin:0px !important;
    background-size: cover;
    background-image: url('../img/bg-login.gif');
  }

  .bottom-login-container {
    width: 50%;
    margin: 0 auto;
    margin-top: 70px;
  }

  .login-logo>img {
    width: 100%;
  }

  .error {
    display: none;
    color: #fff;
    font-weight:bold;
    background-color: rgb(100, 248, 14);
    padding: 5px 20px;
    margin-bottom: 5px;
    border-radius: 5px;

  }


  /* Product Grid */
  .product-grid {
    widows: 100%;
  }

  .product-grid tr td {
    border: 1px solid black;
    padding: 7px 13px;
  }

  .btn-buynow {
    padding: 7px 13px;
    color: rgb(255, 255, 255)3);
    background-color: rgb(106, 194, 106);
    border-radius: 10px;
    width: 100%;
    text-align: center;
    display:block;
  }

  .product {
    width: 100px;
    height: 100px;
    max-width: 100px;
    text-align: center;
    display: block;
    margin: 0 auto;
/*    background-image:url("../img/products/p1.jpg"); */
    background-repeat:no-repeat;
  }

  .btn-primary {
    padding: 7px 13px;
    color: rgb(252, 252, 252)3);
    background-color: rgb(155, 155, 155);
    border-radius: 10px;
    float:right;
    margin-bottom: 20px;
  }